body {
    background-color: rgb(15, 14, 14);
    color: rgb(241, 234, 234);
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding:  16px;

a {
    color: rgb(242, 227, 227);
    text-decoration: none;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #6cf708;
}
.center{
    text-align: center;
}

h1 {
    color: rgb(240, 218, 218);
    text-align: center;

}

footer img {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
}

footer p {
    margin-top: 2px;
}

.container {
    padding: 0px 50px;
}

nav a:hover {
    color: rgb(244, 244, 244);}